<div class="container-fluid">
  <div class="col-md-6">
    <img src="/assets/imgvivero.png" alt="Vivero">
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th >#</th>
          <th >Nombre común</th>
          <th >Tipo</th>
          <th >Clima</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of plants">
          <td>
            <dd>{{p.id}}</dd>
          </td>
          <td>
            <dd>{{p.nombre_comun}}</dd>
          </td>
          <td>
            <dd>{{p.tipo}}</dd>
          </td>
          <td>
            <dd>{{p.clima}}</dd>
          </td>
      </tr>
      </tbody>
    </table>

    <p>Total plantas de interior: {{plantas_interior}}</p>
    <p>Total plantas de exterior: {{plantas_exterior}}</p>

  </div>
</div>
